<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Housaku - Personal Search Engine</title>
    <link
      href="{{ url_for('static', path='/css/styles.css') }}"
      rel="stylesheet"
    />
    <script src="{{ url_for('static', path='/js/p5.min.js') }}" defer></script>
    <script src="{{ url_for('static', path='/js/main.js') }}" defer></script>
  </head>
  <body>
    <main class="main">
        <form method="post" action="/search/" class="search-form glass-card">
          <input
            type="search"
            name="query"
            placeholder="Start searching"
            value=""
            required
          />
          <input type="submit" name="search" value="Search" />
      </div>
    </main>
  </body>
</html>
